body{
    padding:0;
    margin: 0;
    box-sizing: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: cadetblue;
    box-shadow: 0 0 10px rgba(0,0,0,0.507);

}
.menu{
    max-width: 950px;
    margin: 0 auto;
    background-color: rgb(247, 250, 250);
    height: 100vh;
    padding: 20px;
    border-radius: 10px;

}

h1{
    font-size: 5rem;
    margin-bottom: 30px;
}
h2::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgba(0,0,0,0.507);
    margin-top: 20px;
}
h2::before{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgba(0,0,0,0.507);
    margin-bottom: 20px;
}
h2{
    ont-size: 4rem;
    padding: 0;
    column-width: 10;
}
id.drinks{
    padding-right: 10px;
}

h3{
    color: darkblue;
    font-weight: 50px;
    font-size: large;
}